@model DataAccessLayer.Model.Post

@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Post</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="PId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubcategoryId" class="control-label"></label>
                <input asp-for="SubcategoryId" class="form-control" />
                <span asp-validation-for="SubcategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea cols="80" asp-for="Content" name="Content" rows="10"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://cdn.ckeditor.com/4.15.1/standard-all/ckeditor.js"></script>
<script>
    CKEDITOR.replace('Content', {
        fullPage: true,
        extraPlugins: 'docprops',
        allowedContent: true,
        height: 320
    });
</script>