@model DataAccessLayer.Model.Subcategory

@{
    ViewData["Title"] = "SubCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sub Category</h1>
@if (!string.IsNullOrEmpty(@ViewBag.message))
{
        <div class="alert @(ViewBag.Success ? "alert-success" : "alert-danger")" role="alert">
        @ViewBag.message
        </div>
}

<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data" asp-action="SubCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                @Html.DropDownListFor(x => x.CategoryId,ViewBag.Category as SelectList, "Select Category", new{ @class = "form-control" })
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SRank" class="control-label"></label>
                <input asp-for="SRank" class="form-control" />
                <span asp-validation-for="SRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="SubcategoryIndex" class="btn btn-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>


