@model DataAccessLayer.Model.Subcategory

@{
    ViewData["Title"] = "SubCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>SubCategory</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data" asp-action="SubCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SId" class="control-label"></label>
                <input asp-for="SId" class="form-control" />
                <span asp-validation-for="SId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SRank" class="control-label"></label>
                <input asp-for="SRank" class="form-control" />
                <span asp-validation-for="SRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

